<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>sellerPage</title>
    <style>
        body {
            text-align: center;
        }

        button {
            margin: 5px;
        }
    </style>
</head>

<body>
    <button id="addPropertyButton" onclick="location.href = 'AddProperty'">Add a property</button><br>
    <button id="deletePropertyButton" onclick="location.href = 'DeleteProperty'">Delete a property</button><br>
    <button id="ViewPropertyButton" onclick="location.href='ViewProperty'">View a property</button><br>
    <button id="SearchPropertButton" onclick="location.href='Search'">Search</button><br>
    <button id="ViewAllPropertyButton" onclick="location.href='getall'">View all propertie</button>
</body>

</html>